openapi: 3.1.0
info:
  title: PokéAPI
  version: 2.7.0
  description: "All the Pokémon data you'll ever need in one place, easily accessible\
    \ through a modern free open-source RESTful API.\n\n## What is this?\n\nThis is\
    \ a full RESTful API linked to an extensive database detailing everything about\
    \ the Pokémon main game series.\n\nWe've covered everything from Pokémon to Berry\
    \ Flavors.\n\n## Where do I start?\n\nWe have awesome [documentation](https://pokeapi.co/docs/v2)\
    \ on how to use this API. It takes minutes to get started.\n\nThis API will always\
    \ be publicly available and will never require any extensive setup process to\
    \ consume.\n\nCreated by [**Paul Hallett**](https://github.com/phalt) and other\
    \ [**PokéAPI contributors***](https://github.com/PokeAPI/pokeapi#contributing)\
    \ around the world. Pokémon and Pokémon character names are trademarks of Nintendo.\n\
    \    "
paths:
  /api/v2/ability/:
    get:
      operationId: ability_list
      description: Abilities provide passive effects for Pokémon in battle or in the
        overworld. Pokémon have multiple possible abilities but can have only one
        ability at a time. Check out [Bulbapedia](http://bulbapedia.bulbagarden.net/wiki/Ability)
        for greater detail.
      parameters:
        - name: limit
          required: false
          in: query
          description: Number of results to return per page.
          schema:
            type: integer
        - name: offset
          required: false
          in: query
          description: The initial index from which to return the results.
          schema:
            type: integer
        - in: query
          name: q
          schema:
            type: string
          description: "> Only available locally and not at [pokeapi.co](https://pokeapi.co/docs/v2)\n\
            Case-insensitive query applied on the `name` property. "
      tags:
        - pokemon
      security:
        - cookieAuth: []
        - basicAuth: []
        - {}
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PaginatedAbilitySummaryList"
          description: ""
  securitySchemes:
    basicAuth:
      type: http
      scheme: basic
    cookieAuth:
      type: apiKey
      in: cookie
      name: sessionid
servers:
  - url: https://pokeapi.co
tags:
  - name: pokemon
    description: Pokémon are the creatures that inhabit the world of the Pokémon games.
      They can be caught using Pokéballs and trained by battling with other Pokémon.
      Each Pokémon belongs to a specific species but may take on a variant which makes
      it differ from other Pokémon of the same species, such as base stats, available
      abilities and typings. See [Bulbapedia](http://bulbapedia.bulbagarden.net/wiki/Pok%C3%A9mon_(species))
      for greater detail.
    externalDocs:
      description: Find more info here
      url: https://bulbapedia.bulbagarden.net/wiki/Pok%C3%A9mon
  - name: evolution
    description: Evolution is a process in which a Pokémon changes into a different
      species of Pokémon.
    externalDocs:
      description: Find more info here
      url: https://bulbapedia.bulbagarden.net/wiki/Evolution
  - name: berries
    description: Berries can be soft or hard. Check out [Bulbapedia](http://bulbapedia.bulbagarden.net/wiki/Category:Berries_by_firmness)
      for greater detail.
    externalDocs:
      description: Find more info here
      url: https://bulbapedia.bulbagarden.net/wiki/Berry
  - name: items
    description: An item is an object in the games which the player can pick up, keep
      in their bag, and use in some manner. They have various uses, including healing,
      powering up, helping catch Pokémon, or to access a new area.
    externalDocs:
      description: Find more info here
      url: https://bulbapedia.bulbagarden.net/wiki/Item
  - name: machines
    description: Machines are the representation of items that teach moves to Pokémon.
      They vary from version to version, so it is not certain that one specific TM or
      HM corresponds to a single Machine.
    externalDocs:
      description: Find more info here
      url: https://bulbapedia.bulbagarden.net/wiki/TM
  - name: location
    description: Locations that can be visited within the games. Locations make up sizable
      portions of regions, like cities or routes.
    externalDocs:
      description: Find more info here
      url: https://bulbapedia.bulbagarden.net/wiki/List_of_locations_by_index_number
  - name: contest
    description: Pokémon Contests are a type of competition often contrasted with Pokémon
      battles and held in Contest Halls
    externalDocs:
      description: Find more info here
      url: https://bulbapedia.bulbagarden.net/wiki/Pok%C3%A9mon_Contest
  - name: moves
    description: Moves are the skills of Pokémon in battle. In battle, a Pokémon uses
      one move each turn. Some moves (including those learned by Hidden Machine) can
      be used outside of battle as well, usually for the purpose of removing obstacles
      or exploring new areas.
    externalDocs:
      description: Find more info here
      url: https://bulbapedia.bulbagarden.net/wiki/List_of_locations_by_name
  - name: encounters
  - name: games
    description: The Pokémon games are all video games in the Pokémon franchise.
    externalDocs:
      description: Find more info here
      url: https://bulbapedia.bulbagarden.net/wiki/Pok%C3%A9mon_games
  - name: utility
externalDocs:
  url: https://pokeapi.co/docs/v2
